*{
    font-size: 1.3rem;
}
h2{
    font-size: 1.4rem;
}
.chat-container {
    max-height: 65vh;
    min-height: 65vh; /* Altezza massima della chat */
    overflow-y: auto; /* Abilita lo scrolling verticale se il contenuto supera l'altezza massima */
    overflow-x: hidden; /* Abilita lo scrolling verticale se il contenuto supera l'altezza massima */             
    scrollbar-color:  #282e38 #345997; 
    background-color: #4b74b9;
    border-radius: 15px;
}

.cambio{
    font-size: 3px !important;
    padding: 3px !important;
}