<div class="row text-center">
  <h2>{{ nomeChat?.toUpperCase() }}</h2> 
  <p>Descrizione: {{ stanza.desc }}</p> 
</div>
  <div class="row pb-3" style="position: sticky; top: 0; z-index: 1;">
      <div class="dropdown justify-content-center align-items-center d-flex">
        <div>
          <button class="btn btn-light btn-sm" (click)="backToProfilo()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Partecipanti
        </button>    
        <ul class="dropdown-menu text-center">
          
          <li class="dropdown-item">Partecipanti: </li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item" *ngFor="let partecipante of stanza.lisUte">{{ partecipante }}</li>
          <li><hr class="dropdown-divider"></li>
        </ul>  
      </div>
  </div>
<div id="chat-container" class="row chat-container p-3">
  <div *ngFor="let item of messaggi">
    <div class="row"*ngIf="nomeUte == item.nomUte; else altro">
        <div class="col-8"></div>
        <div class="col-4 mt-2  bg-dark rounded-3">
          <p><b>{{ item.nomUte?.toUpperCase() }}</b></p>
          <p>{{ item.con }}</p>
          <p style="color: rgb(255, 255, 255); font-size: 10px">{{item.ora | date: 'HH:ss'}}</p>
        </div>
    </div>

    <ng-template #altro>
      <div class="row">
        <div class="col-4 mt-2 bg-secondary-subtle text-secondary-emphasis rounded-3">
          <p>
            <b>{{ item.nomUte?.toUpperCase() }}</b>
          </p>
          <p>{{ item.con }}</p>
          <p style="font-size: 10px">{{item.ora | date: 'HH:ss'}}</p>
        </div>
        <div class="col-8"></div>
      </div>
    </ng-template>
  </div>
  <div #scrollTarget></div>
</div>
  
<div class="container p-3" style="position: sticky; bottom: 0;">
  <div class="row">
    <div class="col-1">
      <button class="btn btn-light btn-sm" (click)="scrollToTop()">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </button>  
    </div>
    <div class="col-10">
      <input
        class="form-control"
        placeholder="Inserisci un messaggio"
        id="messaggio"
        [(ngModel)]="messaggioInput"
      />
    </div>
    <div class="col-1">
      <button class="btn btn-success" (click)="inviaMessaggioComponent()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
      
    </div>
  </div>
</div>

