<section class="mt-5 gradient-form">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h3 class="mt-1 mb-5 pb-1 ">Register</h3>
                </div>

                <form>
                  <div data-mdb-input-init  class="form-outline mb-4 border">
                    <input type="text" id="input-user" class="form-control" [(ngModel)]="user" name="user"/>             
                    <label class="form-label">Username</label>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4 border">
                      
                      <input type="password" id="input-pass" class="form-control" [(ngModel)]="pass" name="pass"/>     
                      <label class="form-label">Password</label>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="inserimento()">Submit</button>
                    <a class="text-muted" href="#" (click)="clicca()">Clicca qui</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2" >Already have an account?</p>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success"(click)="login()">Effettua login</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Non solo una chat</h4>
                <p>Ma anche tanto altro! Cosa? Non farti troppe domande anzi, compra il pass per avere emoji uniche ispirate ai personaggi della serie I Puffi!</p>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger"(click)="sordi()">NON CLICCARE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


